<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>You have received a new email from the site's contact form <%= "#{ @name }, #{ @email }." %></p>
	<p><%= @body %></p>
</body>
</html>